.container {
  height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.integerInput {
  height: 40px;
  width: 200px;
  margin-bottom: 20px;
  text-align: center;
}

.integerInput::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.integerInput {
  -moz-appearance:textfield !important;
}

.result {
  font-size: 50px;
  font-weight: bold;
}
